@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
  color: #49494C;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
body {
  max-width: 1920px;
  background-image: url("../Images/Background-Site-cinza.jpg");
  font-family: Inter;
  margin: auto;
  background-position: 20% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: luz 8s infinite;
}
@keyframes luz {
  0%, 100% {
    background-image: url("../Images/Background-Site-cinza.jpg");
  }
  50% {
    background-image: url("../Images/Background-Site-cinza-farol-aceso.jpg");
  }
}
.cabecalho {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}
.cabecalho-top {
  padding: 0px 10px 0px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo-e-texto {
  font-size: 2.2rem;
  display: flex;
  justify-content:flex-start;
}
/*texto e logo*/
.logo {
  width: 1.6rem;
  height: 100%;
  background-image: url("../Images/dakrgreylogo-png-54x150png.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  transition: 0.4s;
}
.logo:hover {
  background-image: url("../Images/dakrgreygradlogo-png-54x150.png");
}
.texto-logo {
  padding-top: 12px;
  font-family: "Two Weekends Sans";
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}
.texto-logo span {
  width: 100%;
  text-decoration: none;
}
/*fim texto e logo*/
/*login e icones*/
.login-e-icones {
  padding-top: 6px;
  display: flex;
  font-weight: 800;
  justify-content: center;
}
.login-reg {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.icone-reg {
  margin-top: 4px;
  width: 32px;
  height: 32px;
  background-image: url("../Images/icone-login-32x32.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.login-cadastro {
  font-weight: bolder;
  font-size: 1.4em;
}
.login-cadastro a {
  -webkit-background-clip: text;
  transition: 0.4s;
}
.login-cadastro a:hover {
  background-image: url("../Images/background-gradient.png");
  background-size: cover;
  background-clip: text;
  color: transparent;
}
.icones {
  margin-right: 10px;
  display: flex;
  gap: 6px;
  height: 40px;
}
.icones a {
  width: 5vw;
  max-width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
}
.icone-email {
  background-image: url("../Images/icone-email-grey-32x32.png");
}
.icone-email:hover {
  background-image: url("../Images/icone-email-32x32.png");
}
.icone-facebook {
  background-image: url("../Images/icone-facebook-grey-32x32.png");
}
.icone-facebook:hover {
  background-image: url("../Images/icone-facebook-32x32.png");
}
.icone-insta {
  background-image: url("../Images/icone-instagram-grey-32x32.png");
}
.icone-insta:hover {
  background-image: url("../Images/icone-instagram-32x32.png");
}
/*fim login e icones*/
.faixa {
  margin: 4px 0px 4px 0px;
  height: 4px;
  width: 100%;
  background-size: cover;
  background-image: url("../Images/background-gradient.png");
}
/*menu principal*/
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu {
  width: 100%;
  background-color: #49494c;
  list-style: none;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu li {
  margin-right: 10px;
}
.menu li a {
  border-right: solid thin #f4f4f4;
  padding-right: 10px;
  display: block;
  color: #f4f4f4;
  font-size: 1.2em;
  transition: 0.2s;
}
.menu a:hover {
  color: #fbdb2c;
}
/*botao do drop*/
.drop-botao {
  width: 100%;
  text-align: right;
  background-color: transparent;
  color: #49494C;
  font-size: 1rem;
  font-weight: bolder;
  padding: 10px;
  border: none;
}
/*container do drop*/
.drop-container {
	border: solid 1px;
  text-align: right;
  width: 200px;
  position: relative;
}
/*conteudo do drop*/
.drop-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}
/*links do dropdown*/
.drop-content a {
  text-shadow: 0px 2px 8px #49494c5a;
  font-size: 1rem;
  font-weight: bold;
  color: #49494C;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/*mudança de cor do link no hover*/
.drop-content a:hover {
  color: #fbdb2c;
  text-shadow: 2px 2px 0px #49494c;
}
.drop-container:hover .drop-content {
  display: block;
}
/*fim menu principal*/
/*usado para aumentar elementos para telas maiores*/
@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  .logo-e-texto {
    width: 100%;
	  font-size: 1.2rem;
  }
  .login-e-icones {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .drop-botao {
    display: none;
  }
  .drop-container {
    display: none;
  }
}
/*TEXTO COM IMAGEM NO FUNDO
-webkit-background-clip: text;
  background-image: url("../Images/background-gradient.png");
  background-size: cover;
  background-clip: text;
  color: transparent;*/