@charset "utf-8";
/* CSS Document */ :root {
  --yellow: #fbdb2c;
  --blue: #2BC6EE;
  --dark-grey: #49494C;
  --light-grey: #f4f4f4;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  color: var(--dark-grey);
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
body {
  font-family: Inter;
  font-size: 1.4rem;
  margin: 0 auto;
  background-image: url("../Images/Background-Site-cinza.jpg");
  background-position: 20% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: luz 8s infinite;
}
@keyframes luz {
  0%, 100% {
    background-image: url("../Images/Background-Site-cinza.jpg");
  }
  50% {
    background-image: url("../Images/Background-Site-cinza-farol-aceso.jpg");
  }
}
.cabecalho {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation: fadeInAll ease 4s;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 1;
}
@keyframes fadeInAll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cabecalho-top {
  padding: 0px 1vw 0px 1vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logo-e-texto {
  font-size: 3rem;
  display: flex;
}
/*texto e logo*/
.logo {
  display: block;
  object-fit: cover;
  height: 6.8rem;
  transition: 0.4s;
}
.logo-e-texto:hover .logo {
  background-image: url("../Images/dakrgreygradlogo-png-54x150.png");
}
.texto-logo {
  padding-top: 1rem;
  font-family: "two Weekends Sans";
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}
.texto-logo span {
  width: 100%;
  text-decoration: none;
}
/*fim texto e logo*/
/*login e icones*/
.login-e-icones {
  padding-top: 0.5rem;
  display: flex;
  font-weight: 800;
  justify-content: center;
  gap: 2rem;
  position: relative;
}
.login-reg {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.icone-reg {
  margin-top: 0.5rem;
  width: 3.2rem;
  background-image: url("../Images/icone-login-32x32.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.login-cadastro {
  font-weight: bolder;
  font-size: 1.2em;
}
.login-cadastro a {
  -webkit-background-clip: text;
  transition: 0.4s;
}
.login-cadastro a:hover {
  background-image: url("../Images/background-gradient.png");
  background-size: cover;
  background-clip: text;
  color: transparent;
}
/*botao do drop*/
.drop-botao {
  background-image: url("../Images/hamburguer-menu.png");
  background-size: contain;
  height: 3rem;
  width: 3rem;
  border: none;
}
.drop-botao:hover {
  background-image: url("../Images/hamburguer-menu-gradient.png");
  background-size: contain;
}
/*container do drop*/
.drop-container {
  padding-top: 1rem;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}
/*conteudo do drop*/
.drop-content {
  position: relative;
  width: 100vw;
  right: -1vw;
  display: none;
  background-color: var(--dark-grey);
  animation: slidedown 0.6s ease-in;
}
@keyframes slidedown {
  0% {
    transform: translateY(-1rem);
    height: 0;
  }
  100% {
    transform: translateY(0rem);
    height: 100%;
  }
}
/*links do dropdown*/
.drop-content a {
  border-bottom: solid thin var(--light-grey);
  font-size: 1rem;
  font-weight: bold;
  color: var(--light-grey);
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: block;
  animation: fadein 1s ease;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*mudança de cor do link no hover*/
.drop-content a:hover {
  color: var(--yellow);
}
.drop-container:hover .drop-content {
  display: block;
}
.icones {
  margin-right: 1rem;
  display: flex;
  gap: 0.5rem;
  height: 4rem;
}
.icones a {
  width: 3rem;
  max-width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
}
.icone-email {
  background-image: url("../Images/icone-email-grey-32x32.png");
}
.icone-email:hover {
  background-image: url("../Images/icone-email-32x32.png");
}
.icone-facebook {
  background-image: url("../Images/icone-facebook-grey-32x32.png");
}
.icone-facebook:hover {
  background-image: url("../Images/icone-facebook-32x32.png");
}
.icone-insta {
  background-image: url("../Images/icone-instagram-grey-32x32.png");
}
.icone-insta:hover {
  background-image: url("../Images/icone-instagram-32x32.png");
}
/*fim login e icones*/
.faixa {
  align-self: center;
  margin: 0.5rem 0 0.5rem 0;
  height: 0.5rem;
  width: 100%;
  background-size: cover;
  background-image: url("../Images/background-gradient.png");
  animation: faixa-dale 4s ease;
}
@keyframes faixa-dale {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/*menu principal*/
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu {
  width: 100%;
  background-color: var(--dark-grey);
  list-style: none;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu li {
  margin-right: 10px;
}
.menu li a {
  border-right: solid thin var(--light-grey);
  padding-right: 10px;
  display: block;
  color: var(--light-grey);
  font-size: 2rem;
  transition: 0.2s;
}
.menu a:hover {
  color: var(--yellow);
}
/*fim menu principal*/
/*inicio do elemento passagem*/
.passagem {
  margin-top: 2rem;
  font-size: 2.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.passagem input {
  border: none;
  color: var(--dark-grey);
}
.origem-destino {
  background-color: white;
  display: flex;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 2rem;
}
.ida-volta {
  background-color: white;
  display: flex;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 2rem;
}
.bt-bvoo {
  border: none;
  font-size: 2.5rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  color: var(--blue);
  cursor: pointer;
}
.origem {
  display: flex;
  flex-direction: column;
}
.origem:focus-within {
  font-weight: bold;
}
.origem input {
  width: 100%;
}
.destino {
  display: flex;
  flex-direction: column;
}
.destino:focus-within {
  font-weight: bold;
}
.destino label {
  align-self: flex-end;
}
.destino input {
  width: 100%;
  text-align: right;
}
.ida {
  display: flex;
  flex-direction: column;
}
.ida:focus-within {
  font-weight: bold;
}
.volta {
  display: flex;
  flex-direction: column;
}
.volta label {
  align-self: flex-end;
}
.volta:focus-within {
  font-weight: bold;
}
/*final do elemento passagem*/
/*inicio do elemento principal*/
.main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  animation: fadeInAll ease 4s;
  animation-fill-mode: forwards;
}
.conteudo-centro {
  margin: 2rem 0;
  height: 75vh;
  width: 100%;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.conteudo-centro h1 {
  color: var(--light-grey);
  font-weight: bolder;
  animation: fade-inC 6s;
  z-index: 1;
  position: absolute;
  top: 47%;
}
@keyframes fade-inC {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.linhah1 {
  position: absolute;
  margin: 1rem 0 0 0;
  background-color: var(--yellow);
  width: 100%;
  height: 0.2rem;
  z-index: 1;
}
.linhah2 {
  position: absolute;
  /*top:63rem;*/
  top: 72vh;
  margin: 1rem 0 0 0;
  background-color: var(--yellow);
  width: 100%;
  height: 0.2rem;
  z-index: 1;
}
@keyframes faixah {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.ani1 {
  opacity: 0;
}
.animate1 {
  opacity: 1;
  animation: faixah 4s linear;
}
.linha1 {
  margin: 1rem 0 0 0;
  background-color: var(--yellow);
  height: 25rem;
  width: 0.2rem;
  z-index: 1;
}
.linha2 {
  margin: 0 0 1.4rem 0;
  background-color: var(--yellow);
  height: 25rem;
  width: 0.2rem;
  z-index: 1;
}
@keyframes faixav {
  0% {
    height: 0%;
  }
  100% {
    height: 25rem;
  }
}
.ani {
  opacity: 0;
}
.animate {
  opacity: 1;
  animation: faixav 4s linear;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  min-width: 100%;
}
.texto-video {
  text-shadow: 0.3rem 0.3rem 0.2rem black;
}
.c-att {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  height: 105vh;
  background-color: var(--light-grey);
}
.c-att container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.c-att p {
  text-align: center;
  font-size: 3vmax;
}
.c-att div {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: 25vmin;
  height: 25vmin;
  border: solid 0.2rem var(--dark-grey);
  background-color: var(--light-grey);
  border-style: dotted;
  z-index: 1;
}
.ani2 {
  opacity: 0;
}
.animate2 {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease-out;
  transition-delay: 0.5s;
}
.span-normal {
  font-size: 2vmin;
  font-weight: bold;
}
.span-destaque {
  font: lighter 5rem "Inter";
  color: var(--blue);
  font-size: 6vmin;
}
.linha-bola {
  border-top: solid 0.2rem var(--dark-grey);
  border-top-style: dotted;
  width: 100%;
  position: absolute;
}
.galeria-home {
  list-style: none;
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60vmin, 1fr));
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--light-grey);
}
.galeria-home li {}
.galeria-home figure {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  --galeria-home-height: 100%;
  height: var(--galeria-home-height);
  --home-figure-aspect-ratio: 1/2;
}
@supports (aspect-ratio:1) {
  .galeria-home figure, .galeria-home img {
    aspect-ratio: var(--home-figure-aspect-ratio);
    width: auto;
  }
}
.galeria-home img {
  display: block;
  height: var(--galeria-home-height);
  object-fit: cover;
}
.galeria-home figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.25em 0.5em;
  width: 40vmin;
  height: 25vmin;
  border: solid 0.5vmin var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 0;
}
.figc {
  font-size: 6vmin;
  text-align: center;
  color: var(--light-grey);
  text-shadow: 0.3rem 0.3rem 0.2rem black;
  transition: 1s;
}
.figc::before, .figc::after {
  position: absolute;
  background: transparent;
  z-index: -1;
  transition: 1.5s ease-out;
  content: '';
  border: solid thin white;
}
.figc::before {
  height: 25vmin;
  width: 30vmin;
}
.figc::after {
  width: 40vmin;
  height: 15vmin;
}
.figc:hover::before {
  border-color: transparent;
  width: 40vmin;
}
.figc:hover::after {
  height: 20vmin;
  border-color: transparent;
}
.figc:hover {
  color: var(--yellow);
  border: solid 0.3rem var(--yellow);
}
#btntopo {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 2;
  border: solid 1px var(--yellow);
  background-color: transparent;
  color: var(--yellow);
  cursor: pointer;
  padding: 15px;
  border-radius: 0.5rem;
  font-size: 2rem;
}
.footer {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.fd {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font: normal 5vmin "two Weekends Sans";
  color: var(--light-grey);
}
.animate3:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: -2rem;
  background-color: var(--light-grey);
  animation: divisoria 3s ease;
}
.footer-textp {
  padding: 4rem 2rem 2rem 2rem;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font: lighter 1.5rem Inter;
  color: var(--light-grey);
  text-align: center;
}
.contatos {
  margin-top: 2rem;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
}
.contatos > div > span {
  text-decoration: none;
  font: lighter 2rem Inter;
  color: var(--light-grey);
  height: 100%;
  align-self: stretch;
}
.contatos > div {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contatos > div > a {
  text-decoration: none;
  font: 300 2rem Inter;
  color: var(--light-grey);
  height: 100%;
  align-self: stretch;
}
.email {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font: 300 2rem Inter;
  color: var(--blue);
  width: 100%;
}
.faixa-contatos {
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--light-grey);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.footer-textb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-textb {
  text-align: center;
  font: lighter 1.2rem Inter;
  color: var(--light-grey);
  height: 100%;
}
.ani3 {
  opacity: 0;
}
.animate3 {
  opacity: 1;
}
@keyframes divisoria {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/*usado para aumentar ou mostrar elementos para telas menores*/
@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  .icones {
    display: none;
  }
  .login-e-icones {
    align-self: flex-end;
  }
  .login-reg {
    padding-right: 4rem;
  }
  input::-webkit-calendar-picker-indicator {
    display: none;
  }
  .passagem, .bt-bvoo, .logo-e-texto {
    font-size: 1.4rem;
    font-weight: bolder;
  }
  .logo {
    height: 3.7rem;
  }
  .faixa-contatos {
    display: none;
  }
}
/*usado para aumentar ou mostrar elementos em telas maiores*/
@media only screen and (min-width: 600px) {
  .drop-botao {
    display: none;
  }
  .drop-container {
    display: none;
  }
}