@charset "utf-8";
/* CSS Document */ :root {
  --yellow: #fbdb2c;
  --blue: #2BC6EE;
  --dark-grey: #49494C;
  --light-grey: #f4f4f4;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  color: var(--dark-grey);
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
body {
  font-family: Inter;
  font-size: 1.4rem;
  margin: 0 auto;
  background-image: url("../Images/Background-Site-cinza.jpg");
  background-position: 20% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: luz 8s infinite;
  background-color: var(--light-grey);
  background-blend-mode: hard-light;
}
@keyframes luz {
  0%, 100% {
    background-image: url("../Images/Background-Site-cinza.jpg");
  }
  50% {
    background-image: url("../Images/Background-Site-cinza-farol-aceso.jpg");
  }
}
.cabecalho {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation: fadeInAll ease 4s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cabecalho-top {
  padding: 0px 1rem 0px 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logo-e-texto {
  font-size: 3rem;
  display: flex;
}
/*texto e logo*/
.logo {
  width: 2.2rem;
  background-image: url("../Images/dakrgreylogo-png-54x150png.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  transition: 0.4s;
}
.logo-e-texto:hover .logo {
  background-image: url("../Images/dakrgreygradlogo-png-54x150.png");
}
.texto-logo {
  padding-top: 1rem;
  font-family: "two Weekends Sans";
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}
.texto-logo span {
  width: 100%;
  text-decoration: none;
}
/*fim texto e logo*/
/*login e icones*/
.login-e-icones {
  padding-top: 0.5rem;
  display: flex;
  font-weight: 800;
  justify-content: center;
  gap: 1rem;
}
.login-reg {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.icone-reg {
  margin-top: 0.5rem;
  width: 3.2rem;
  background-image: url("../Images/icone-login-32x32.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.login-cadastro {
  font-weight: bolder;
  font-size: 1.2em;
}
.login-cadastro a {
  -webkit-background-clip: text;
  transition: 0.4s;
}
.login-cadastro a:hover {
  background-image: url("../Images/background-gradient.png");
  background-size: cover;
  background-clip: text;
  color: transparent;
}
/*botao do drop*/
.drop-botao {
  background-image: url("../Images/hamburguer-menu.png");
  background-size: contain;
  height: 3rem;
  width: 3rem;
  border: none;
}
.drop-botao:hover {
  background-image: url("../Images/hamburguer-menu-gradient.png");
  background-size: contain;
}
/*container do drop*/
.drop-container {
  align-self: center;
  text-align: right;
  position: relative;
}
/*conteudo do drop*/
.drop-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: var(--dark-grey);
  border-radius: 0.5rem;
  animation: slidedown 0.5s ease;
}
@keyframes slidedown {
  0% {
    height: 0;
    transform: translateY(-10px);
  }
  100% {
    height: 16.5rem;
    transform: translateY(0);
  }
}
/*links do dropdown*/
.drop-content a {
  border-bottom: solid thin var(--light-grey);
  font-size: 1rem;
  font-weight: bold;
  color: var(--light-grey);
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: block;
  animation: fadein 1s ease;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*mudança de cor do link no hover*/
.drop-content a:hover {
  color: var(--yellow);
}
.drop-container:hover .drop-content {
  display: block;
}
.icones {
  margin-right: 1rem;
  display: flex;
  gap: 0.5rem;
  height: 4rem;
}
.icones a {
  width: 3rem;
  max-width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
}
.icone-email {
  background-image: url("../Images/icone-email-grey-32x32.png");
}
.icone-email:hover {
  background-image: url("../Images/icone-email-32x32.png");
}
.icone-facebook {
  background-image: url("../Images/icone-facebook-grey-32x32.png");
}
.icone-facebook:hover {
  background-image: url("../Images/icone-facebook-32x32.png");
}
.icone-insta {
  background-image: url("../Images/icone-instagram-grey-32x32.png");
}
.icone-insta:hover {
  background-image: url("../Images/icone-instagram-32x32.png");
}
/*fim login e icones*/
.faixa {
  align-self: center;
  margin: 0.5rem 0 0.5rem 0;
  height: 0.5rem;
  width: 100%;
  background-size: cover;
  background-image: url("../Images/background-gradient.png");
  animation: faixa 4s;
}
@keyframes faixa {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/*menu principal*/
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu {
  width: 100%;
  background-color: var(--dark-grey);
  list-style: none;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu li {
  margin-right: 10px;
}
.menu li a {
  border-right: solid thin var(--light-grey);
  padding-right: 10px;
  display: block;
  color: var(--light-grey);
  font-size: 2rem;
  transition: 0.2s;
}
.menu a:hover {
  color: var(--yellow);
}
/*fim menu principal*/
.main {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*inicio do titulo dinâmico*/
.wrapper{  /*container básico para estrutura*/
	padding: 2rem;
}
.wrapper .text-esc{/*estilização do h1*/
	font:lighter 3rem "inter";
}
.wrapper .text-esc ol{/*estilização da lista*/
	list-style: none;
	--height:3.8rem;/*variável de altura*/
	height: var(--height);/*altura do bloco*/
	line-height: var(--height);/*altura da linha*/
	overflow: hidden;/*usado para ocultar o restante da lista deixando apenas 1 elemento a mostra*/
}
.wrapper .text-esc ol li{/*animação das li's para cima*/
	animation:  slide-up 12s infinite;
}
@keyframes slide-up{/* 6 = li's = 6 frames*/
	0%, 10%{
		transform: translateY(0%);
	}
	15%, 20%{
		transform: translateY(-100%);
	}
	30%, 40%{
		transform: translateY(-200%);
	}
	45%, 55%{
		transform: translateY(-300%);
	}
	60%, 70%{
		transform: translateY(-400%);
	}
	75%, 85%{
		transform: translateY(-500%);
	}
}
.wrapper .text-esc ol li span{/*estilização do texto destaque*/
	font-weight: 600;
	color: var(--blue);
	white-space: nowrap;
}
/*fim do titulo dinâmico*/
/*inicio da galeria de pacotes*/
.pacotes {
  padding: 0 10rem;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.pacotes li {
  position: relative;
  width: 100%;
  padding: 2rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.pacotes figure {
  display: flex;
  flex: 1 0 300px;
  justify-content: space-between;
  --gallery-aspect-ratio: 4/3; /*usado para definir o ratio da imagem e manter*/
}
/*necessário para fazer o aspecto funcionar*/
@supports (aspect-ratio: 1) {
  .pacotes figure, .pacotes img {
    aspect-ratio: var(--gallery-aspect-ratio);
  }
}
.pacotes img {
  border-radius: 0.5rem;
  display: block;
  width: 98%;
  object-fit: cover;
}
.faixah {
  align-self: flex-end;
  width: 100%;
  height: 0.2rem;
  background-color: var(--blue);
  animation: faixah 5s ease;
  left: 0;
}
@keyframes faixah {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.faixav {
  margin-left: 0.5rem;
  width: 0.2rem;
  height: 25rem;
  background-color: var(--blue);
  animation: faixav 5s ease;
}
@keyframes faixav {
  0% {
    height: 0;
  }
  100% {
    height: 25rem;
  }
}
.pacotes container {
  display: flex;
  flex-direction: column;
  flex: 3 0 300px;
  animation: slidedown2 2s ease;
}
@keyframes slidedown2 {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    height: 100%;
    transform: translateY(0);
  }
}
.pacotes h3, p {
  color: var(--dark-grey);
  text-align: left;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
}
p {
  font-size: 1.5rem;
	font-weight: 300;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
}
.pacotes div {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
  height: 6rem;
  border: thin solid var(--blue);
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}
.pacotes button {
  background-color: transparent;
  width: 12rem;
  height: 5rem;
  border: thin solid var(--dark-grey);
  transition: 0.5s ease;
  cursor: pointer;
  border-radius: 0.5rem;
}
.pacotes button:hover {
  color: var(--blue);
  font-weight: bold;
  border: thin solid var(--blue);
}
.footer {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer p {
  color: var(--light-grey);
  text-align: center;
}
/*usado para aumentar ou mostrar elementos para telas menores*/
@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  .icones {
    display: none;
  }
  .login-e-icones {
    align-self: flex-end;
  }
  input::-webkit-calendar-picker-indicator {
    display: none;
  }
  .passagem, .bt-bvoo, .logo-e-texto {
    font-size: 1.4rem;
    font-weight: bolder;
  }
  .logo {
    width: 1.2rem;
  }
}
/*usado para aumentar ou mostrar elementos em telas maiores*/
@media only screen and (min-width: 600px) {
  .drop-botao {
    display: none;
  }
  .drop-container {
    display: none;
  }
}