@charset "utf-8";
/* CSS Document */ :root {
  --yellow: #fbdb2c;
  --blue: #2BC6EE;
  --dark-grey: #49494C;
  --light-grey: #f4f4f4;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  color: var(--dark-grey);
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
body {
  font-family: Inter;
  font-size: 1.4rem;
  margin: 0 auto;
  background-image: url("../Images/Background-Site-cinza.jpg");
  background-position: 20% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: luz 8s infinite;
  background-color: var(--light-grey);
  background-blend-mode: hard-light;
}
@keyframes luz {
  0%, 100% {
    background-image: url("../Images/Background-Site-cinza.jpg");
  }
  50% {
    background-image: url("../Images/Background-Site-cinza-farol-aceso.jpg");
  }
}
.cabecalho {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation: fadeInAll ease 4s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cabecalho-top {
  padding: 0px 1rem 0px 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logo-e-texto {
  font-size: 3rem;
  display: flex;
}
/*texto e logo*/
.logo {
  width: 2.2rem;
  background-image: url("../Images/dakrgreylogo-png-54x150png.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  transition: 0.4s;
}
.logo-e-texto:hover .logo {
  background-image: url("../Images/dakrgreygradlogo-png-54x150.png");
}
.texto-logo {
  padding-top: 1rem;
  font-family: "two Weekends Sans";
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}
.texto-logo span {
  width: 100%;
  text-decoration: none;
}
/*fim texto e logo*/
/*login e icones*/
.login-e-icones {
  padding-top: 0.5rem;
  display: flex;
  font-weight: 800;
  justify-content: center;
  gap: 1rem;
}
.login-reg {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.icone-reg {
  margin-top: 0.5rem;
  width: 3.2rem;
  background-image: url("../Images/icone-login-32x32.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.login-cadastro {
  font-weight: bolder;
  font-size: 1.2em;
}
.login-cadastro a {
  -webkit-background-clip: text;
  transition: 0.4s;
}
.login-cadastro a:hover {
  background-image: url("../Images/background-gradient.png");
  background-size: cover;
  background-clip: text;
  color: transparent;
}
/*botao do drop*/
.drop-botao {
  background-image: url("../Images/hamburguer-menu.png");
  background-size: contain;
  height: 3rem;
  width: 3rem;
  border: none;
}
.drop-botao:hover {
  background-image: url("../Images/hamburguer-menu-gradient.png");
  background-size: contain;
}
/*container do drop*/
.drop-container {
  align-self: center;
  text-align: right;
  position: relative;
}
/*conteudo do drop*/
.drop-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: var(--dark-grey);
  border-radius: 0.5rem;
  animation: slidedown 0.5s ease;
}
@keyframes slidedown {
  0% {
    height: 0;
    transform: translateY(-10px);
  }
  100% {
    height: 16.5rem;
    transform: translateY(0);
  }
}
/*links do dropdown*/
.drop-content a {
  border-bottom: solid thin var(--light-grey);
  font-size: 1rem;
  font-weight: bold;
  color: var(--light-grey);
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: block;
  animation: fadein 1s ease;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*mudança de cor do link no hover*/
.drop-content a:hover {
  color: var(--yellow);
}
.drop-container:hover .drop-content {
  display: block;
}
.icones {
  margin-right: 1rem;
  display: flex;
  gap: 0.5rem;
  height: 4rem;
}
.icones a {
  width: 3rem;
  max-width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
}
.icone-email {
  background-image: url("../Images/icone-email-grey-32x32.png");
}
.icone-email:hover {
  background-image: url("../Images/icone-email-32x32.png");
}
.icone-facebook {
  background-image: url("../Images/icone-facebook-grey-32x32.png");
}
.icone-facebook:hover {
  background-image: url("../Images/icone-facebook-32x32.png");
}
.icone-insta {
  background-image: url("../Images/icone-instagram-grey-32x32.png");
}
.icone-insta:hover {
  background-image: url("../Images/icone-instagram-32x32.png");
}
/*fim login e icones*/
.faixa {
  align-self: center;
  margin: 0.5rem 0 0.5rem 0;
  height: 0.5rem;
  width: 100%;
  background-size: cover;
  background-image: url("../Images/background-gradient.png");
  animation: faixa 4s;
}
@keyframes faixa {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/*menu principal*/
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu {
  width: 100%;
  background-color: var(--dark-grey);
  list-style: none;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu li {
  margin-right: 10px;
}
.menu li a {
  border-right: solid thin var(--light-grey);
  padding-right: 10px;
  display: block;
  color: var(--light-grey);
  font-size: 2rem;
  transition: 0.2s;
}
.menu a:hover {
  color: var(--yellow);
}
/*fim menu principal*/
.main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  animation: fadeInAll ease 4s;
  animation-fill-mode: forwards;
}
h1 {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.faixav {
  margin: 5rem 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--blue);
  animation: faixav 5s ease;
}
@keyframes faixav {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.galeria-promo {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
.promocoes {
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  padding: 0.5rem;
  animation: slidedown 2s ease;
}
@keyframes slidedown {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    height: 100%;
    transform: translateY(0);
  }
}
.promo-card {
  position: relative;
  background-color: #f4f4f49a;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem #49494c2a;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.promo-card:after {
  content: '';
  width: 0.2rem;
  height: 20rem;
  position: absolute;
  left: 1%;
  top: 70%;
  transition: top, opacity;
  transition-duration: 800ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, var(--blue), transparent);
  opacity: 0;
}
.promo-card:hover:after {
  top: 25%;
  opacity: 1;
}
.promo-card ul {
  list-style: none;
}
.promo-card li:before {
  content: '\2713';
  margin-right: 0.5rem;
}
.promo-card figure {
  position: relative;
  display: grid;
  border-radius: 0.5rem;
  overflow: hidden;
  --gallery-aspect-ratio: 4/3;
}
@supports (aspect-ratio:1) {
  .promo-card figure, .promo-card img {
    aspect-ratio: var(--gallery-aspect-ratio);
    height: auto;
  }
}
figure img {
  display: block;
  width: 100%;
  object-fit: cover;
}
figcaption {
  position: absolute;
  top: 0;
  padding: 0.25em 0.5em;
  border-radius: 0 0 0.5rem 0;
  background-color: var(--light-grey);
  transform: translateY(-100%);
  transition: transform 600ms ease-in;
}
figure:hover figcaption {
  transform: translateY(0%);
}
.texto-promo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.promo-card li {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.texto-promo span {
  color: var(--blue);
}
.promo-card button {
  background-color: transparent;
  width: 12rem;
  height: 5rem;
  border: thin solid var(--dark-grey);
  transition: 0.5s ease;
  cursor: pointer;
  border-radius: 0.5rem;
}
.promo-card button:hover {
  color: var(--blue);
  border: thin solid var(--blue);
}
.footer {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer p {
  color: var(--light-grey);
}
/*usado para aumentar ou mostrar elementos para telas menores*/
@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  .icones {
    display: none;
  }
  .login-e-icones {
    align-self: flex-end;
  }
  input::-webkit-calendar-picker-indicator {
    display: none;
  }
  .passagem, .bt-bvoo, .logo-e-texto {
    font-size: 1.4rem;
    font-weight: bolder;
  }
  .logo {
    width: 1.2rem;
  }
}
/*usado para aumentar ou mostrar elementos em telas maiores*/
@media only screen and (min-width: 600px) {
  .drop-botao {
    display: none;
  }
  .drop-container {
    display: none;
  }
}